dl {
    display: flex;
    background-color: white;
    flex-direction: column;
    width: 100%;
    max-width: 80rem;
    position: relative;
    top: 4rem;
    left: 3rem;
    padding: 20px;
    border-radius: 1rem;
    height: 215rem;
  }
  .dates {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    position: relative;
    top: .6rem;
  }
  .text {
    color: #000;
  }
  
  .percentage {
    font-size: .8em;
    line-height: 1;
    text-transform: uppercase;
    position: relative;
    right: 2rem;
    width: 60;
    height: 25px;
    margin-left: 2.8rem;
    background: repeating-linear-gradient(
    to right,
    #a0a0a0,
    #a0a0a0 1px,
    #fff 1px,
    #fff 8.15%
  );
    
    &:after {
      content: "";
      display: block;
      background-color: blue;
      width: 50px;
      margin-bottom: 10px;
      height: 90%;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      transition: background-color .3s ease;
      cursor: pointer;
    }
  }
  
    .dufay {
      &:after {
        background-color: #27856a;
        width: 9.7rem;
        height: 1.3rem;
      }
    }
    .binchois {
      &:after {
        background-color: #27856a;
        width: 8rem;
        height: 1.3rem;
      }
    }
    .ockeghem {
      &:after {
        background-color: #27856a;
        width: 10.4rem;
        margin-left: 1.9rem;
        height: 1.3rem;
      }
    }
    .busnois {
      &:after {
        background-color: #27856a;
        width: 7.8rem;
        margin-left: 4rem;
        height: 1.3rem;
      }
    }
    .tinctoris {
      &:after {
        background-color: #27856a;
        width: 9rem;
        margin-left: 4.8rem;
        height: 1.3rem;
      }
    }
    .agricola {
      &:after {
        background-color: #27856a;
        width: 7.7rem;
        margin-left: 5.6rem;
        height: 1.3rem;
      }
    }
    .prez {
      &:after {
        background-color: #27856a;
        width: 8.9rem;
        margin-left: 6.2rem;
        height: 1.3rem;
      }
    }
    .isaac {
      &:after {
        background-color: #27856a;
        width: 8.2rem;
        margin-left: 6.2rem;
        height: 1.3rem;
      }
    }
    .rue {
      &:after {
        background-color: #27856a;
        width: 8.2rem;
        margin-left: 6.7rem;
        height: 1.3rem;
      }
    }
    .obrecht {
      &:after {
        background-color: #27856a;
        width: 6.3rem;
        margin-left: 7.5rem;
        height: 1.3rem;
      }
    }
    .janequin {
      &:after {
        background-color: #27856a;
        width: 10rem;
        margin-left: 10.2rem;
        height: 1.3rem;
      }
    }
    .taverner {
      &:after {
        background-color: #27856a;
        width: 6.8rem;
        margin-left: 11.5rem;
        height: 1.3rem;
      }
    }
    .willaert {
      &:after {
        background-color: #27856a;
        width: 9.3rem;
        margin-left: 11.5rem;
        height: 1.3rem;
      }
    }
    .gombert {
      &:after {
        background-color: #27856a;
        width: 8.6rem;
        margin-left: 11.9rem;
        height: 1.3rem;
      }
    }
    .morales {
      &:after {
        background-color: #27856a;
        width: 7.2rem;
        margin-left: 12.75rem;
        height: 1.3rem;
      }
    }
    .milan {
      &:after {
        background-color: #27856a;
        width: 7.9rem;
        margin-left: 12.75rem;
        height: 1.3rem;
      }
    }
    .tallis {
      &:after {
        background-color: #27856a;
        width: 10rem;
        margin-left: 13.3rem;
        height: 1.3rem;
      }
    }
    .arcadelt {
      &:after {
        background-color: #27856a;
        width: 7.5rem;
        margin-left: 13.6rem;
        height: 1.3rem;
      }
    }
    .palestrina {
      &:after {
        background-color: #27856a;
        width: 8.2rem;
        margin-left: 16rem;
        height: 1.3rem;
      }
    }
    .lassus {
      &:after {
        background-color: #27856a;
        width: 7.5rem;
        margin-left: 16.7rem;
        height: 1.3rem;
      }
    }
    .byrd {
      &:after {
        background-color: #27856a;
        width: 11.5rem;
        margin-left: 17.8rem;
        height: 1.3rem;
      }
    }
    .victoria {
      &:after {
        background-color: #27856a;
        width: 8rem;
        margin-left: 18.7rem;
        height: 1.3rem;
      }
    }
    .caccini {
      &:after {
        background-color: #1e3264;
        width: 9.5rem;
        margin-left: 18.8rem;
        height: 1.3rem;
      }
    }
    .gabrieli {
      &:after {
        background-color: #27856a;
        width: 7.4rem;
        margin-left: 19.4rem;
        height: 1.3rem;
      }
    }
    .sweelinck {
      &:after {
        background-color: #1e3264;
        width: 8.4rem;
        margin-left: 20.5rem;
        height: 1.3rem;
      }
    }
    .dowland {
      &:after {
        background-color: #27856a;
        width: 8.8rem;
        margin-left: 20.9rem;
        height: 1.3rem;
      }
    }
    .gesualdo {
      &:after {
        background-color: #27856a;
        width: 6.5rem;
        margin-left: 21.3rem;
        height: 1.3rem;
      }
    }
    .monteverdi {
      &:after {
        background-color: #1e3264;
        width: 8.8rem;
        margin-left: 21.65rem;
        height: 1.3rem;
      }
    }
    .praetorius {
      &:after {
        background-color: #1e3264;
        width: 6.5rem;
        margin-left: 22.4rem;
        height: 1.3rem;
      }
    }
    .schutz {
      &:after {
        background-color: #1e3264;
        width: 11rem;
        margin-left: 23.5rem;
        height: 1.3rem;
      }
    }
    .cavalli {
      &:after {
        background-color: #1e3264;
        width: 10rem;
        margin-left: 25.25rem;
        height: 1.3rem;
      }
    }
    .froberger {
      &:after {
        background-color: #1e3264;
        width: 6.5rem;
        margin-left: 27.5rem;
        height: 1.3rem;
      }
    }
    .lully {
      &:after {
        background-color: #1e3264;
        width: 7.5rem;
        margin-left: 29rem;
        height: 1.3rem;
      }
    }
    .buxtehude {
      &:after {
        background-color: #1e3264;
        width: 9.5rem;
        margin-left: 29.7rem;
        height: 1.3rem;
      }
    }
    .charpentier {
      &:after {
        background-color: #1e3264;
        width: 8rem;
        margin-left: 30.5rem;
        height: 1.3rem;
      }
    }
    .corelli {
      &:after {
        background-color: #1e3264;
        width: 7.7rem;
        margin-left: 32rem;
        height: 1.3rem;
      }
    }
    .pachelbel {
      &:after {
        background-color: #1e3264;
        width: 7rem;
        margin-left: 32rem;
        height: 1.3rem;
      }
    }
    .purcell {
      &:after {
        background-color: #1e3264;
        width: 4.5rem;
        margin-left: 32.7rem;
        height: 1.3rem;
      }
    }
    .scarlatti {
      &:after {
        background-color: #1e3264;
        width: 8.8rem;
        left: 33rem;
        height: 1.3rem;
      }
    }
    .couperin {
      &:after {
        background-color: #1e3264;
        width: 8.8rem;
        left: 33.5rem;
        height: 1.3rem;
      }
    }
    .albinoni {
      &:after {
        background-color: #1e3264;
        width: 10.25rem;
        left: 34.1rem;
        height: 1.3rem;
      }
    }
    .vivaldi {
      &:after {
        background-color: #1e3264;
        width: 8rem;
        left: 35.3rem;
        height: 1.3rem;
      }
    }
    .telemann {
      &:after {
        background-color: #1e3264;
        width: 10.7rem;
        left: 36rem;
        height: 1.3rem;
      }
    }
    .rameau {
      &:after {
        background-color: #1e3264;
        width: 9.5rem;
        left: 36.4rem;
        height: 1.3rem;
      }
    }
    .jsbach {
      &:after {
        background-color: #1e3264;
        width: 8.3rem;
        left: 36.7rem;
        height: 1.3rem;
      }
    }
    .dscarlatti {
      &:after {
        background-color: #1e3264;
        width: 8.7rem;
        left: 36.7rem;
        height: 1.3rem;
      }
    }
    .handel {
      &:after {
        background-color: #1e3264;
        width: 8.9rem;
        left: 36.7rem;
        height: 1.3rem;
      }
    }
    .hasse {
      &:after {
        background-color: #1e3264;
        width: 10.1rem;
        left: 37.8rem;
        height: 1.3rem;
      }
    }
    .pergolesi {
      &:after {
        background-color: #1e3264;
        width: 4.4rem;
        left: 39.4rem;
        height: 1.3rem;
      }
    }
    .gluck {
      &:after {
        background-color: #8d67ab;
        width: 8.6rem;
        left: 39.8rem;
        height: 1.3rem;
      }
    }
    .cpebach {
      &:after {
        background-color: #8d67ab;
        width: 9rem;
        left: 39.8rem;
        height: 1.3rem;
      }
    }
    .stamitz {
      &:after {
        background-color: #8d67ab;
        width: 5.4rem;
        left: 40.3rem;
        height: 1.3rem;
      }
    }
    .soler {
      &:after {
        background-color: #1e3264;
        width: 7.5rem;
        left: 40.3rem;
        height: 1.3rem;
      }
    }
    .haydn {
      &:after {
        background-color: #8d67ab;
        width: 11.5rem;
        left: 40.7rem;
        height: 1.3rem;
      }
    }
    .jcbach {
      &:after {
        background-color: #8d67ab;
        width: 6.2rem;
        left: 41.5rem;
        height: 1.3rem;
      }
    }
    .salieri {
      &:after {
        background-color: #8d67ab;
        width: 9.2rem;
        left: 44rem;
        height: 1.3rem;
      }
    }
    .bortniansky {
      &:after {
        background-color: #8d67ab;
        width: 9rem;
        left: 44.25rem;
        height: 1.3rem;
      }
    }
    .clementi {
      &:after {
        background-color: #8d67ab;
        width: 9.8rem;
        left: 44.5rem;
        height: 1.3rem;
      }
    }
    .mozart {
      &:after {
        background-color: #8d67ab;
        width: 4.4rem;
        left: 45rem;
        height: 1.3rem;
      }
    }
    .cherubini {
      &:after {
        background-color: #8d67ab;
        width: 9.8rem;
        left: 45.8rem;
        height: 1.3rem;
      }
    }
    .beethoven {
      &:after {
        background-color: #8d67ab;
        width: 7rem;
        left: 47rem;
        height: 1.3rem;
      }
    }
    .field {
      &:after {
        background-color: #1072ec;
        width: 6.5rem;
        left: 48.5rem;
        height: 1.3rem;
      }
    }
    .paganini {
      &:after {
        background-color: #1072ec;
        width: 7.2rem;
        left: 48.5rem;
        height: 1.3rem;
      }
    }
    .weber {
      &:after {
        background-color: #1072ec;
        width: 5rem;
        left: 49.3rem;
        height: 1.3rem;
      }
    }
    .czemy {
      &:after {
        background-color: #1072ec;
        width: 8rem;
        left: 49.7rem;
        height: 1.3rem;
      }
    }
    .rossini {
      &:after {
        background-color: #1072ec;
        width: 9.7rem;
        left: 49.7rem;
        height: 1.3rem;
      }
    }
    .schubert {
      &:after {
        background-color: #1072ec;
        width: 4.2rem;
        left: 50rem;
        height: 1.3rem;
      }
    }
    .donizetti {
      &:after {
        background-color: #1072ec;
        width: 6.3rem;
        left: 50rem;
        height: 1.3rem;
      }
    }
    .berlioz {
      &:after {
        background-color: #1072ec;
        width: 8.8rem;
        left: 50.6rem;
        height: 1.3rem;
      }
    }
    .mendelssohn {
      &:after {
        background-color: #1072ec;
        width: 6rem;
        left: 51.2rem;
        height: 1.3rem;
      }
    }
    .chopin {
      &:after {
        background-color: #1072ec;
        width: 5.05rem;
        left: 51.4rem;
        height: 1.3rem;
      }
    }
    .schumann {
      &:after {
        background-color: #1072ec;
        width: 6.2rem;
        left: 51.4rem;
        height: 1.3rem;
      }
    }
    .liszt {
      &:after {
        background-color: #1072ec;
        width: 9.5rem;
        left: 51.8rem;
        height: 1.3rem;
      }
    }
    .wagner {
      &:after {
        background-color: #1072ec;
        width: 8.6rem;
        left: 52.2rem;
        height: 1.3rem;
      }
    }
    .verdi {
      &:after {
        background-color: #1072ec;
        width: 10.6rem;
        left: 52.2rem;
        height: 1.4rem;
      }
    }
    .offenbach {
      &:after {
        background-color: #1072ec;
        width: 7.2rem;
        left: 53.2rem;
        height: 1.3rem;
      }
    }
    .franck {
      &:after {
        background-color: #1072ec;
        width: 8rem;
        left: 53rem;
        height: 1.3rem;
      }
    }
    .smetana {
      &:after {
        background-color: #1072ec;
        width: 6.5rem;
        left: 53.8rem;
        height: 1.3rem;
      }
    }
    .bruckner {
      &:after {
        background-color: #1072ec;
        width: 8.5rem;
        left: 53.8rem;
        height: 1.3rem;
      }
    }
    .strauss2 {
      &:after {
        background-color: #1072ec;
        width: 8.5rem;
        left: 54.2rem;
        height: 1.3rem;
      }
    }
    .brahms {
      &:after {
        background-color: #1072ec;
        width: 7.5rem;
        left: 55rem;
        height: 1.3rem;
      }
    }
    .borodin {
      &:after {
        background-color: #1072ec;
        width: 6.2rem;
        left: 55rem;
        height: 1.3rem;
      }
    }
    .saintsaens {
      &:after {
        background-color: #1072ec;
        width: 12rem;
        left: 55.4rem;
        height: 1.3rem;
      }
    }
    .bizet {
      &:after {
        background-color: #1072ec;
        width: 5rem;
        left: 55.8rem;
        height: 1.3rem;
      }
    }
    .mussorgsky {
      &:after {
        background-color: #1072ec;
        width: 5.4rem;
        left: 55.8rem;
        height: 1.3rem;
      }
    }
    .tchaikovsky {
      &:after {
        background-color: #1072ec;
        width: 5.8rem;
        left: 56rem;
        height: 1.3rem;
      }
    }
    .dvorak {
      &:after {
        background-color: #1072ec;
        width: 7.2rem;
        left: 56.2rem;
        height: 1.3rem;
      }
    }
    .grieg {
      &:after {
        background-color: #1072ec;
        width: 7.5rem;
        left: 56.2rem;
        height: 1.3rem;
      }
    }
    .rimsky {
      &:after {
        background-color: #1072ec;
        width: 7.8rem;
        left: 56.3rem;
        height: 1.3rem;
      }
    }
    .faure {
      &:after {
        background-color: #1072ec;
        width: 9.4rem;
        left: 56.4rem;
        height: 1.3rem;
      }
    }
    .elgar {
      &:after {
        background-color: #1072ec;
        width: 11rem;
        left: 57.5rem;
        height: 1.3rem;
      }
    }
    .ysaye {
      &:after {
        background-color: #1072ec;
        width: 10rem;
        left: 57.5rem;
        height: 1.3rem;
      }
    }
    .puccini {
      &:after {
        background-color: #1072ec;
        width: 9rem;
        left: 57.5rem;
        height: 1.3rem;
      }
    }
    .mahler {
      &:after {
        background-color: #1072ec;
        width: 7.5rem;
        left: 57.7rem;
        height: 1.3rem;
      }
    }
    .delius {
      &:after {
        background-color: #1072ec;
        width: 10rem;
        left: 58rem;
        
      }
    }
    .debussy {
      &:after {
        background-color: #a56752;
        width: 8rem;
        left: 58rem;
        height: 1.3rem;
      }
    }
    .strauss {
      &:after {
        background-color: #1072ec;
        width: 9.6rem;
        left: 58.4rem;
        height: 1.3rem;
      }
    }
    .sibelius {
      &:after {
        background-color: #a56752;
        width: 9.6rem;
        left: 58.7rem;
        height: 1.3rem;
      }
    }
    .granados {
      &:after {
        background-color: #1072ec;
        width: 7rem;
        left: 59rem;
        height: 1.3rem;
      }
    }
    .vwilliams {
      &:after {
        background-color: #1072ec;
        width: 10.8rem;
        left: 59.8rem;
        height: 1.3rem;
      }
    }
    .rachmaninoff {
      &:after {
        background-color: #1072ec;
        width: 8.2rem;
        left: 60rem;
        height: 1.3rem;
      }
    }
    .schoenberg {
      &:after {
        background-color: #a56752;
        width: 9.3rem;
        left: 60.3rem;
        height: 1.3rem;
      }
    }
    .holst {
      &:after {
        background-color: #a56752;
        width: 7rem;
        left: 60.3rem;
        height: 1.3rem;
      }
    }
    .ives {
      &:after {
        background-color: #a56752;
        width: 9.8rem;
        left: 60.3rem;
        height: 1.3rem;
      }
    }
    .ravel {
      &:after {
        background-color: #a56752;
        width: 7.1rem;
        left: 60.55rem;
        height: 1.3rem;
      }
    }
    .falla {
      &:after {
        background-color: #a56752;
        width: 7.8rem;
        left: 60.8rem;
        height: 1.3rem;
      }
    }
    .bartok {
      &:after {
        background-color: #a56752;
        width: 7.25rem;
        left: 61.3rem;
        height: 1.3rem;
      }
    }
    .stravinsky {
      &:after {
        background-color: #a56752;
        width: 10.3rem;
        left: 61.5rem;
        height: 1.3rem;
      }
    }
    .varese {
      &:after {
        background-color: #e86718;
        width: 9.5rem;
        left: 61.5rem;
        height: 1.3rem;
      }
    }
    .prokofiev {
      &:after {
        background-color: #a56752;
        width: 8rem;
        left: 62.2rem;
        height: 1.3rem;
      }
    }
    .hindemith {
      &:after {
        background-color: #a56752;
        width: 8.2rem;
        left: 62.4rem;
        height: 1.3rem;
      }
    }
    .poulenc {
      &:after {
        background-color: #a56752;
        width: 7.8rem;
        left: 62.8rem;
        height: 1.3rem;
      }
    }
    .copland {
      &:after {
        background-color: #a56752;
        width: 11rem;
        left: 62.8rem;
        height: 1.3rem;
      }
    }
    .partch {
      &:after {
        background-color: #e86718;
        width: 9.4rem;
        left: 62.85rem;
        height: 1.3rem;
      }
    }
    .shostakovich {
      &:after {
        background-color: #a56752;
        width: 8.5rem;
        left: 64rem;
        height: 1.3rem;
      }
    }
    .messiaen {
      &:after {
        background-color: #a56752;
        width: 10rem;
        left: 64.4rem;
        height: 1.3rem;
      }
    }
    .barber {
      &:after {
        background-color: #a56752;
        width: 8.5rem;
        left: 65rem;
        height: 1.3rem;
      }
    }
    .cage {
      &:after {
        background-color: #e86718;
        width: 9rem;
        left: 65.5rem;
        height: 1.3rem;
      }
    }
    .lutoslawski {
      &:after {
        background-color: #a56752;
        width: 9rem;
        left: 66rem;
        height: 1.3rem;
      }
    }
    .britten {
      &:after {
        background-color: #a56752;
        width: 7rem;
        left: 66rem;
        height: 1.3rem;
      }
    }
    .britten {
      &:after {
        background-color: #a56752;
        width: 7rem;
        left: 66rem;
        height: 1.3rem;
      }
    }
    .moondog {
      &:after {
        background-color: #e86718;
        width: 9.1rem;
        left: 66.4rem;
        height: 1.3rem;
      }
    }
    .xenakis {
      &:after {
        background-color: #e86718;
        width: 8.8rem;
        left: 67rem;
        height: 1.3rem;
      }
    }
    .ligeti {
      &:after {
        background-color: #e86718;
        width: 9.2rem;
        left: 67.2rem;
        height: 1.3rem;
      }
    }
    .boulez {
      &:after {
        background-color: #e86718;
        width: 10rem;
        left: 67.6rem;
        height: 1.3rem;
      }
    }
    .stockhausen {
      &:after {
        background-color: #e86718;
        width: 8.6rem;
        left: 68rem;
        height: 1.3rem;
      }
    }
    .rautavaara {
      &:after {
        background-color: #a56752;
        width: 9.5rem;
        left: 68rem;
        height: 1.3rem;
      }
    }
    .crumb {
      &:after {
        background-color: #e86718;
        width: 9.8rem;
        left: 68.3rem;
        height: 1.3rem;
      }
    }
    .gubaidulina {
      &:after {
        background-color: #e86718;
        width: 9.7rem;
        left: 68.4rem;
        height: 1.3rem;
      }
    }
    .shchedrin {
      &:after {
        background-color: #a56752;
        width: 9.7rem;
        left: 68.4rem;
        height: 1.3rem;
      }
    }
    .schnittke {
      &:after {
        background-color: #e86718;
        width: 7rem;
        left: 68.4rem;
        height: 1.3rem;
      }
    }
    .birtwistle {
      &:after {
        background-color: #a56752;
        width: 9.7rem;
        left: 68.4rem;
        height: 1.3rem;
      }
    }
    .riley {
      &:after {
        background-color: #e13400;
        width: 9.6rem;
        left: 68.5rem;
        height: 1.3rem;
      }
    }
    .young {
      &:after {
        background-color: #e13400;
        width: 9.6rem;
        left: 68.5rem;
        height: 1.3rem;
      }
    }
    .part {
      &:after {
        background-color: #e13400;
        width: 9.6rem;
        left: 68.5rem;
        height: 1.3rem;
      }
    }
    .reich {
      &:after {
        background-color: #e13400;
        width: 9.48rem;
        left: 68.7rem;
        height: 1.3rem;
      }
    }
    .glass {
      &:after {
        background-color: #e13400;
        width: 9.48rem;
        left: 68.7rem;
        height: 1.3rem;
      }
    }
    .adams {
      &:after {
        background-color: #e13400;
        width: 9.2rem;
        left: 69rem;
        height: 1.3rem;
      }
    }

.dufayP {
  position: relative;
  color: white;
  bottom: 213.05rem;
  left: 5.3rem;
  font-weight: 600;
  font-size: .9rem;
}
.binchoisP {
  position: relative;
  color: white;
  bottom: 213.45rem;
  left: 5.4rem;
  font-weight: 600;
  font-size: .9rem;
}
.ockeghemP {
  position: relative;
  color: white;
  bottom: 213.9rem;
  left: 7.3rem;
  font-weight: 600;
  font-size: .9rem;
}
.busnoisP {
  position: relative;
  color: white;
  bottom: 214.3rem;
  left: 9.4rem;
  font-weight: 600;
  font-size: .9rem;
}
.tinctorisP {
  position: relative;
  color: white;
  bottom: 214.65rem;
  left: 10.15rem;
  font-weight: 600;
  font-size: .9rem;
}
.agricolaP {
  position: relative;
  color: white;
  bottom: 215.05rem;
  left: 10.95rem;
  font-weight: 600;
  font-size: .9rem;
}
.prezP {
  position: relative;
  color: white;
  bottom: 215.5rem;
  left: 11.5rem;
  font-weight: 600;
  font-size: .9rem;
}
.isaacP {
  position: relative;
  color: white;
  bottom: 215.9rem;
  left: 11.6rem;
  font-weight: 600;
  font-size: .9rem;
}
.rueP {
  position: relative;
  color: white;
  bottom: 216.3rem;
  left: 12rem;
  font-weight: 600;
  font-size: .9rem;
}
.obrechtP {
  position: relative;
  color: white;
  bottom: 216.65rem;
  left: 12.9rem;
  font-weight: 600;
  font-size: .9rem;
}
.janequinP {
  position: relative;
  color: white;
  bottom: 217.1rem;
  left: 15.6rem;
  font-weight: 600;
  font-size: .9rem;
}
.tavernerP {
  position: relative;
  color: white;
  bottom: 217.48rem;
  left: 16.9rem;
  font-weight: 600;
  font-size: .9rem;
}
.willaertP {
  position: relative;
  color: white;
  bottom: 217.85rem;
  left: 16.95rem;
  font-weight: 600;
  font-size: .9rem;
}
.gombertP {
  position: relative;
  color: white;
  bottom: 218.25rem;
  left: 17.25rem;
  font-weight: 600;
  font-size: .9rem;
}
.moralesP {
  position: relative;
  color: white;
  bottom: 218.7rem;
  left: 18.1rem;
  font-weight: 600;
  font-size: .9rem;
}
.milanP {
  position: relative;
  color: white;
  bottom: 219.05rem;
  left: 18.15rem;
  font-weight: 600;
  font-size: .9rem;
}
.tallisP {
  position: relative;
  color: white;
  bottom: 219.45rem;
  left: 18.6rem;
  font-weight: 600;
  font-size: .9rem;
}
.arcadeltP {
  position: relative;
  color: white;
  bottom: 219.86rem;
  left: 18.9rem;
  font-weight: 600;
  font-size: .9rem;
}
.palestrinaP {
  position: relative;
  color: white;
  bottom: 220.25rem;
  left: 21.4rem;
  font-weight: 600;
  font-size: .9rem;
}
.lassusP {
  position: relative;
  color: white;
  bottom: 220.7rem;
  left: 22.15rem;
  font-weight: 600;
  font-size: .9rem;
}
.byrdP {
  position: relative;
  color: white;
  bottom: 221.05rem;
  left: 23.2rem;
  font-weight: 600;
  font-size: .9rem;
}
.victoriaP {
  position: relative;
  color: white;
  bottom: 221.45rem;
  left: 24.1rem;
  font-weight: 600;
  font-size: .9rem;
}
.cacciniP {
  position: relative;
  color: white;
  bottom: 221.9rem;
  left: 24.1rem;
  font-weight: 600;
  font-size: .9rem;
}
.gabrieliP {
  position: relative;
  color: white;
  bottom: 222.25rem;
  left: 24.8rem;
  font-weight: 600;
  font-size: .9rem;
}
.sweelinckP {
  position: relative;
  color: white;
  bottom: 222.7rem;
  left: 26rem;
  font-weight: 600;
  font-size: .9rem;
}
.dowlandP {
  position: relative;
  color: white;
  bottom: 223.05rem;
  left: 26.3rem;
  font-weight: 600;
  font-size: .9rem;
}
.gesualdoP {
  position: relative;
  color: white;
  bottom: 223.45rem;
  left: 26.7rem;
  font-weight: 600;
  font-size: .9rem;
}
.monteverdiP {
  position: relative;
  color: white;
  bottom: 223.9rem;
  left: 27rem;
  font-weight: 600;
  font-size: .9rem;
}
.praetoriusP {
  position: relative;
  color: white;
  bottom: 224.25rem;
  left: 27.7rem;
  font-weight: 600;
  font-size: .9rem;
}
.schutzP {
  position: relative;
  color: white;
  bottom: 224.65rem;
  left: 29rem;
  font-weight: 600;
  font-size: .9rem;
}
.cavalliP {
  position: relative;
  color: white;
  bottom: 225.05rem;
  left: 30.7rem;
  font-weight: 600;
  font-size: .9rem;
}
.frobergerP {
  position: relative;
  color: white;
  bottom: 225.5rem;
  left: 33rem;
  font-weight: 600;
  font-size: .9rem;
}
.lullyP {
  position: relative;
  color: white;
  bottom: 225.9rem;
  left: 34.45rem;
  font-weight: 600;
  font-size: .9rem;
}
.buxtehudeP {
  position: relative;
  color: white;
  bottom: 226.3rem;
  left: 35.2rem;
  font-weight: 600;
  font-size: .9rem;
}
.charpentierP {
  position: relative;
  color: white;
  bottom: 226.7rem;
  left: 35.9rem;
  font-weight: 600;
  font-size: .9rem;
}
.corelliP {
  position: relative;
  color: white;
  bottom: 227.05rem;
  left: 37.3rem;
  font-weight: 600;
  font-size: .9rem;
}
.pachelbelP {
  position: relative;
  color: white;
  bottom: 227.45rem;
  left: 37.4rem;
  font-weight: 600;
  font-size: .9rem;
}
.purcellP {
  position: relative;
  color: white;
  bottom: 227.8rem;
  left: 38.05rem;
  font-weight: 600;
  font-size: .9rem;
}
.scarlattiP {
  position: relative;
  color: white;
  bottom: 228.2rem;
  left: 38.4rem;
  font-weight: 600;
  font-size: .9rem;
}
.couperinP {
  position: relative;
  color: white;
  bottom: 228.6rem;
  left: 38.9rem;
  font-weight: 600;
  font-size: .9rem;
}
.albinoniP {
  position: relative;
  color: white;
  bottom: 229rem;
  left: 39.4rem;
  font-weight: 600;
  font-size: .9rem;
}
.vivaldiP {
  position: relative;
  color: white;
  bottom: 229.4rem;
  left: 40.6rem;
  font-weight: 600;
  font-size: .9rem;
}
.telemannP {
  position: relative;
  color: white;
  bottom: 229.8rem;
  left: 41.3rem;
  font-weight: 600;
  font-size: .9rem;
}
.rameauP {
  position: relative;
  color: white;
  bottom: 230.2rem;
  left: 41.8rem;
  font-weight: 600;
  font-size: .9rem;
}
.jsbachP {
  position: relative;
  color: white;
  bottom: 230.6rem;
  left: 42rem;
  font-weight: 600;
  font-size: .9rem;
}
.dscarlattiP {
  position: relative;
  color: white;
  bottom: 231rem;
  left: 42rem;
  font-weight: 600;
  font-size: .9rem;
}
.handelP {
  position: relative;
  color: white;
  bottom: 231.4rem;
  left: 42rem;
  font-weight: 600;
  font-size: .9rem;
}
.hasseP {
  position: relative;
  color: white;
  bottom: 231.8rem;
  left: 43.1rem;
  font-weight: 600;
  font-size: .9rem;
}
.pergolesiP {
  position: relative;
  color: white;
  bottom: 232.2rem;
  left: 44.6rem;
  font-weight: 600;
  font-size: .9rem;
}
.gluckP {
  position: relative;
  color: white;
  bottom: 232.6rem;
  left: 45.1rem;
  font-weight: 600;
  font-size: .9rem;
}
.cpebachP {
  position: relative;
  color: white;
  bottom: 233rem;
  left: 45.1rem;
  font-weight: 600;
  font-size: .9rem;
}
.stamitzP {
  position: relative;
  color: white;
  bottom: 233.4rem;
  left: 45.6rem;
  font-weight: 600;
  font-size: .9rem;
}
.solerP {
  position: relative;
  color: white;
  bottom: 233.8rem;
  left: 45.6rem;
  font-weight: 600;
  font-size: .9rem;
}
.haydnP {
  position: relative;
  color: white;
  bottom: 234.2rem;
  left: 46rem;
  font-weight: 600;
  font-size: .9rem;
}
.jcbachP {
  position: relative;
  color: white;
  bottom: 234.6rem;
  left: 46.8rem;
  font-weight: 600;
  font-size: .9rem;
}
.salieriP {
  position: relative;
  color: white;
  bottom: 235rem;
  left: 49.4rem;
  font-weight: 600;
  font-size: .9rem;
}
.bortnianskyP {
  position: relative;
  color: white;
  bottom: 235.4rem;
  left: 49.6rem;
  font-weight: 600;
  font-size: .9rem;
}
.clementiP {
  position: relative;
  color: white;
  bottom: 235.8rem;
  left: 49.8rem;
  font-weight: 600;
  font-size: .9rem;
}
.mozartP {
  position: relative;
  color: white;
  bottom: 236.2rem;
  left: 50.3rem;
  font-weight: 600;
  font-size: .9rem;
}
.cherubiniP {
  position: relative;
  color: white;
  bottom: 236.6rem;
  left: 51.1rem;
  font-weight: 600;
  font-size: .9rem;
}
.beethovenP {
  position: relative;
  color: white;
  bottom: 237rem;
  left: 52.3rem;
  font-weight: 600;
  font-size: .9rem;
}
.fieldP {
  position: relative;
  color: white;
  bottom: 237.36rem;
  left: 53.8rem;
  font-weight: 600;
  font-size: .9rem;
}
.paganiniP {
  position: relative;
  color: white;
  bottom: 237.8rem;
  left: 53.8rem;
  font-weight: 600;
  font-size: .9rem;
}
.weberP {
  position: relative;
  color: white;
  bottom: 238.18rem;
  left: 54.55rem;
  font-weight: 600;
  font-size: .9rem;
}
.czemyP {
  position: relative;
  color: white;
  bottom: 238.6rem;
  left: 55.05rem;
  font-weight: 600;
  font-size: .9rem;
}
.rossiniP {
  position: relative;
  color: white;
  bottom: 239rem;
  left: 55rem;
  font-weight: 600;
  font-size: .9rem;
}
.schubertP {
  position: relative;
  color: white;
  bottom: 239.3rem;
  left: 55.1rem;
  font-weight: 600;
  font-size: .9rem;
}
.donizettiP {
  position: relative;
  color: white;
  bottom: 239.75rem;
  left: 55.2rem;
  font-weight: 600;
  font-size: .9rem;
}
.berliozP {
  position: relative;
  color: white;
  bottom: 240.2rem;
  left: 55.8rem;
  font-weight: 600;
  font-size: .9rem;
}
.mendelssohnP {
  position: relative;
  color: white;
  bottom: 240.5rem;
  left: 56.4rem;
  font-weight: 600;
  font-size: .9rem;
}
.chopinP {
  position: relative;
  color: white;
  bottom: 241rem;
  left: 56.6rem;
  font-weight: 600;
  font-size: .9rem;
}
.schumannP {
  position: relative;
  color: white;
  bottom: 241.4rem;
  left: 56.6rem;
  font-weight: 600;
  font-size: .9rem;
}
.lisztP {
  position: relative;
  color: white;
  bottom: 241.8rem;
  left: 57.1rem;
  font-weight: 600;
  font-size: .9rem;
}
.wagnerP {
  position: relative;
  color: white;
  bottom: 242.2rem;
  left: 57.4rem;
  font-weight: 600;
  font-size: .9rem;
}
.verdiP {
  position: relative;
  color: white;
  bottom: 242.6rem;
  left: 57.5rem;
  font-weight: 600;
  font-size: .9rem;
}
.offenbachP {
  position: relative;
  color: white;
  bottom: 242.95rem;
  left: 58.5rem;
  font-weight: 600;
  font-size: .9rem;
}
.franckP {
  position: relative;
  color: white;
  bottom: 243.4rem;
  left: 58.3rem;
  font-weight: 600;
  font-size: .9rem;
}
.smetanaP {
  position: relative;
  color: white;
  bottom: 243.8rem;
  left: 59.1rem;
  font-weight: 600;
  font-size: .9rem;
}
.brucknerP {
  position: relative;
  color: white;
  bottom: 244.25rem;
  left: 59.1rem;
  font-weight: 600;
  font-size: .9rem;
}
.strauss2P {
  position: relative;
  color: white;
  bottom: 244.6rem;
  left: 59.45rem;
  font-weight: 600;
  font-size: .9rem;
}
.brahmsP {
  position: relative;
  color: white;
  bottom: 245rem;
  left: 60.4rem;
  font-weight: 600;
  font-size: .9rem;
}
.borodinP {
  position: relative;
  color: white;
  bottom: 245.4rem;
  left: 60.4rem;
  font-weight: 600;
  font-size: .9rem;
}
.saintsaensP {
  position: relative;
  color: white;
  bottom: 245.8rem;
  left: 60.7rem;
  font-weight: 600;
  font-size: .9rem;
}
.bizetP {
  position: relative;
  color: white;
  bottom: 246.1rem;
  left: 61rem;
  font-weight: 600;
  font-size: .9rem;
}
.mussorgskyP {
  position: relative;
  color: white;
  bottom: 246.6rem;
  left: 61rem;
  font-weight: 600;
  font-size: .9rem;
}
.tchaikovskyP {
  position: relative;
  color: white;
  bottom: 247rem;
  left: 61.2rem;
  font-weight: 600;
  font-size: .9rem;
}
.dvorakP {
  position: relative;
  color: white;
  bottom: 247.35rem;
  left: 61.4rem;
  font-weight: 600;
  font-size: .9rem;
}
.griegP {
  position: relative;
  color: white;
  bottom: 247.8rem;
  left: 61.5rem;
  font-weight: 600;
  font-size: .9rem;
}
.rimskyP {
  position: relative;
  color: white;
  bottom: 248.2rem;
  left: 61.5rem;
  font-weight: 600;
  font-size: .9rem;
}
.faureP {
  position: relative;
  color: white;
  bottom: 248.6rem;
  left: 61.7rem;
  font-weight: 600;
  font-size: .9rem;
}
.elgarP {
  position: relative;
  color: white;
  bottom: 249rem;
  left: 62.9rem;
  font-weight: 600;
  font-size: .9rem;
}
.ysayeP {
  position: relative;
  color: white;
  bottom: 249.4rem;
  left: 62.8rem;
  font-weight: 600;
  font-size: .9rem;
}
.pucciniP {
  position: relative;
  color: white;
  bottom: 249.8rem;
  left: 62.8rem;
  font-weight: 600;
  font-size: .9rem;
}
.mahlerP {
  position: relative;
  color: white;
  bottom: 250.2rem;
  left: 63rem;
  font-weight: 600;
  font-size: .9rem;
}
.deliusP {
  position: relative;
  color: white;
  bottom: 250.75rem;
  left: 63.3rem;
  font-weight: 600;
  font-size: .9rem;
}
.debussyP {
  position: relative;
  color: white;
  bottom: 251.3rem;
  left: 63.3rem;
  font-weight: 600;
  font-size: .9rem;
}
.straussP {
  position: relative;
  color: white;
  bottom: 251.7rem;
  left: 63.7rem;
  font-weight: 600;
  font-size: .9rem;
}
.sibeliusP {
  position: relative;
  color: white;
  bottom: 252rem;
  left: 64rem;
  font-weight: 600;
  font-size: .9rem;
}
.granadosP {
  position: relative;
  color: white;
  bottom: 252.5rem;
  left: 64.2rem;
  font-weight: 600;
  font-size: .9rem;
}
.vwilliamsP {
  position: relative;
  color: white;
  bottom: 252.85rem;
  left: 65.1rem;
  font-weight: 600;
  font-size: .9rem;
}
.rachmaninoffP {
  position: relative;
  color: white;
  bottom: 253.25rem;
  left: 65.3rem;
  font-weight: 600;
  font-size: .9rem;
}
.schoenbergP {
  position: relative;
  color: white;
  bottom: 253.7rem;
  left: 65.5rem;
  font-weight: 600;
  font-size: .9rem;
}
.holstP {
  position: relative;
  color: white;
  bottom: 254rem;
  left: 65.5rem;
  font-weight: 600;
  font-size: .9rem;
}
.ivesP {
  position: relative;
  color: white;
  bottom: 254.45rem;
  left: 65.6rem;
  font-weight: 600;
  font-size: .9rem;
}
.ravelP {
  position: relative;
  color: white;
  bottom: 254.9rem;
  left: 65.8rem;
  font-weight: 600;
  font-size: .9rem;
}
.fallaP {
  position: relative;
  color: white;
  bottom: 255.25rem;
  left: 66.1rem;
  font-weight: 600;
  font-size: .9rem;
}
.bartokP {
  position: relative;
  color: white;
  bottom: 255.65rem;
  left: 66.6rem;
  font-weight: 600;
  font-size: .9rem;
}
.stravinskyP {
  position: relative;
  color: white;
  bottom: 256.1rem;
  left: 66.75rem;
  font-weight: 600;
  font-size: .9rem;
}
.vareseP {
  position: relative;
  color: white;
  bottom: 256.45rem;
  left: 66.75rem;
  font-weight: 600;
  font-size: .9rem;
}
.prokofievP {
  position: relative;
  color: white;
  bottom: 256.8rem;
  left: 67.5rem;
  font-weight: 600;
  font-size: .9rem;
}
.hindemithP {
  position: relative;
  color: white;
  bottom: 257.25rem;
  left: 67.6rem;
  font-weight: 600;
  font-size: .9rem;
}
.poulencP {
  position: relative;
  color: white;
  bottom: 257.65rem;
  left: 68rem;
  font-weight: 600;
  font-size: .9rem;
}
.coplandP {
  position: relative;
  color: white;
  bottom: 258.05rem;
  left: 68rem;
  font-weight: 600;
  font-size: .9rem;
}
.partchP {
  position: relative;
  color: white;
  bottom: 258.45rem;
  left: 68.1rem;
  font-weight: 600;
  font-size: .9rem;
}
.shostakovichP {
  position: relative;
  color: white;
  bottom: 258.8rem;
  left: 69.3rem;
  font-weight: 600;
  font-size: .9rem;
}
.messiaenP {
  position: relative;
  color: white;
  bottom: 259.2rem;
  left: 69.7rem;
  font-weight: 600;
  font-size: .9rem;
}
.barberP {
  position: relative;
  color: white;
  bottom: 259.65rem;
  left: 70.3rem;
  font-weight: 600;
  font-size: .9rem;
}
.cageP {
  position: relative;
  color: white;
  bottom: 260.1rem;
  left: 70.75rem;
  font-weight: 600;
  font-size: .9rem;
}
.lutoslawskiP {
  position: relative;
  color: white;
  bottom: 260.45rem;
  left: 71.25rem;
  font-weight: 600;
  font-size: .9rem;
}
.brittenP {
  position: relative;
  color: white;
  bottom: 260.85rem;
  left: 71.25rem;
  font-weight: 600;
  font-size: .9rem;
}
.moondogP {
  position: relative;
  color: white;
  bottom: 261.3rem;
  left: 71.6rem;
  font-weight: 600;
  font-size: .9rem;
}
.xenakisP {
  position: relative;
  color: white;
  bottom: 261.6rem;
  left: 72.3rem;
  font-weight: 600;
  font-size: .9rem;
}
.ligetiP {
  position: relative;
  color: white;
  bottom: 262rem;
  left: 72.4rem;
  font-weight: 600;
  font-size: .9rem;
}
.boulezP {
  position: relative;
  color: white;
  bottom: 262.5rem;
  left: 72.8rem;
  font-weight: 600;
  font-size: .9rem;
}
.stockhausenP {
  position: relative;
  color: white;
  bottom: 262.8rem;
  left: 73.3rem;
  font-weight: 600;
  font-size: .9rem;
}
.rautavaaraP {
  position: relative;
  color: white;
  bottom: 263.25rem;
  left: 73.3rem;
  font-weight: 600;
  font-size: .9rem;
}
.crumbP {
  position: relative;
  color: white;
  bottom: 263.65rem;
  left: 73.5rem;
  font-weight: 600;
  font-size: .9rem;
}
.gubaidulinaP {
  position: relative;
  color: white;
  bottom: 264rem;
  left: 73.6rem;
  font-weight: 600;
  font-size: .9rem;
}
.shchedrinP {
  position: relative;
  color: white;
  bottom: 264.5rem;
  left: 73.6rem;
  font-weight: 600;
  font-size: .9rem;
}
.schnittkeP {
  position: relative;
  color: white;
  bottom: 264.8rem;
  left: 73.6rem;
  font-weight: 600;
  font-size: .9rem;
}
.birtwistleP {
  position: relative;
  color: white;
  bottom: 265.2rem;
  left: 73.6rem;
  font-weight: 600;
  font-size: .9rem;
}
.rileyP {
  position: relative;
  color: white;
  bottom: 265.65rem;
  left: 73.7rem;
  font-weight: 600;
  font-size: .9rem;
}
.youngP {
  position: relative;
  color: white;
  bottom: 266.1rem;
  left: 73.7rem;
  font-weight: 600;
  font-size: .9rem;
}
.partP {
  position: relative;
  color: white;
  bottom: 266.4rem;
  left: 73.7rem;
  font-weight: 600;
  font-size: .9rem;
}
.reichP {
  position: relative;
  color: white;
  bottom: 266.8rem;
  left: 74rem;
  font-weight: 600;
  font-size: .9rem;
}
.glassP {
  position: relative;
  color: white;
  bottom: 267.2rem;
  left: 74rem;
  font-weight: 600;
  font-size: .9rem;
}
.adamsP {
  position: relative;
  color: white;
  bottom: 267.65rem;
  left: 74.2rem;
  font-weight: 600;
  font-size: .9rem;
}