dl {
    display: flex;
    background-color: white;
    flex-direction: column;
    width: 100%;
    max-width: 80rem;
    position: relative;
    top: 4rem;
    left: 3rem;
    padding: 20px;
    border-radius: 1rem;
  }
  .dates {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    position: relative;
    left: 2rem;
    top: .6rem;
  }
  .text {
    color: #000;

  }
  
  .percentage {
    font-size: .8em;
    line-height: 1;
    text-transform: uppercase;
    position: relative;
    right: 2rem;
    width: 60;
    height: 25px;
    margin-left: 2.8rem;
    background: repeating-linear-gradient(
    to right,
    #a0a0a0,
    #a0a0a0 1px,
    #fff 1px,
    #fff 8.15%
  );
    
    &:after {
      content: "";
      display: block;
      background-color: blue;
      width: 50px;
      margin-bottom: 10px;
      height: 90%;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      transition: background-color .3s ease;
      cursor: pointer;
    }
  }
  
    .dufay {
      &:after {
        background-color: #27856a;
        width: 9.7rem;
      }
    }
    .binchois {
      &:after {
        background-color: #27856a;
        width: 8rem;
      }
    }
    .ockeghem {
      &:after {
        background-color: #27856a;
        width: 10.4rem;
        margin-left: 1.9rem;
      }
    }
    .busnois {
      &:after {
        background-color: #27856a;
        width: 7.8rem;
        margin-left: 4rem;
      }
    }
    .tinctoris {
      &:after {
        background-color: #27856a;
        width: 9rem;
        margin-left: 4.8rem;
      }
    }
    .agricola {
      &:after {
        background-color: #27856a;
        width: 7.7rem;
        margin-left: 5.6rem;
      }
    }
    .prez {
      &:after {
        background-color: #27856a;
        width: 8.9rem;
        margin-left: 6.2rem;
      }
    }
    .isaac {
      &:after {
        background-color: #27856a;
        width: 8.2rem;
        margin-left: 6.2rem;
      }
    }
    .rue {
      &:after {
        background-color: #27856a;
        width: 8.2rem;
        margin-left: 6.7rem;
      }
    }
    .obrecht {
      &:after {
        background-color: #27856a;
        width: 6.3rem;
        margin-left: 7.5rem;
      }
    }
    .janequin {
      &:after {
        background-color: #27856a;
        width: 10rem;
        margin-left: 10.2rem;
      }
    }
    .taverner {
      &:after {
        background-color: #27856a;
        width: 6.8rem;
        margin-left: 11.5rem;
      }
    }
    .willaert {
      &:after {
        background-color: #27856a;
        width: 9.3rem;
        margin-left: 11.5rem;
      }
    }
    .gombert {
      &:after {
        background-color: #27856a;
        width: 8.6rem;
        margin-left: 11.9rem;
      }
    }
    .morales {
      &:after {
        background-color: #27856a;
        width: 7.2rem;
        margin-left: 12.75rem;
      }
    }
    .milan {
      &:after {
        background-color: #27856a;
        width: 7.9rem;
        margin-left: 12.75rem;
      }
    }
    .tallis {
      &:after {
        background-color: #27856a;
        width: 10rem;
        margin-left: 13.3rem;
      }
    }
    .arcadelt {
      &:after {
        background-color: #27856a;
        width: 7.5rem;
        margin-left: 13.6rem;
      }
    }
    .palestrina {
      &:after {
        background-color: #27856a;
        width: 8.2rem;
        margin-left: 16rem;
      }
    }
    .lassus {
      &:after {
        background-color: #27856a;
        width: 7.5rem;
        margin-left: 16.7rem;
      }
    }
    .byrd {
      &:after {
        background-color: #27856a;
        width: 11.5rem;
        margin-left: 17.8rem;
      }
    }
    .victoria {
      &:after {
        background-color: #27856a;
        width: 8rem;
        margin-left: 18.7rem;
      }
    }
    .caccini {
      &:after {
        background-color: #1e3264;
        width: 9.5rem;
        margin-left: 18.8rem;
      }
    }
    .gabrieli {
      &:after {
        background-color: #27856a;
        width: 7.4rem;
        margin-left: 19.4rem;
      }
    }
    .sweelinck {
      &:after {
        background-color: #1e3264;
        width: 8.4rem;
        margin-left: 20.5rem;
      }
    }
    .dowland {
      &:after {
        background-color: #27856a;
        width: 8.8rem;
        margin-left: 20.9rem;
      }
    }
    .gesualdo {
      &:after {
        background-color: #27856a;
        width: 6.5rem;
        margin-left: 21.3rem;
      }
    }
    .monteverdi {
      &:after {
        background-color: #1e3264;
        width: 8.8rem;
        margin-left: 21.65rem;
      }
    }
    .praetorius {
      &:after {
        background-color: #1e3264;
        width: 6.5rem;
        margin-left: 22.4rem;
      }
    }
    .schutz {
      &:after {
        background-color: #1e3264;
        width: 11rem;
        margin-left: 23.5rem;
      }
    }
    .cavalli {
      &:after {
        background-color: #1e3264;
        width: 10rem;
        margin-left: 25.25rem;
      }
    }
    .froberger {
      &:after {
        background-color: #1e3264;
        width: 6.5rem;
        margin-left: 27.5rem;
      }
    }
    .lully {
      &:after {
        background-color: #1e3264;
        width: 7.5rem;
        margin-left: 29rem;
      }
    }
    .buxtehude {
      &:after {
        background-color: #1e3264;
        width: 9.5rem;
        margin-left: 29.7rem;
      }
    }
    .charpentier {
      &:after {
        background-color: #1e3264;
        width: 8rem;
        margin-left: 30.5rem;
      }
    }
    .corelli {
      &:after {
        background-color: #1e3264;
        width: 7.7rem;
        margin-left: 32rem;
      }
    }
    .pachelbel {
      &:after {
        background-color: #1e3264;
        width: 7rem;
        margin-left: 32rem;
      }
    }
    .purcell {
      &:after {
        background-color: #1e3264;
        width: 4.5rem;
        margin-left: 32.7rem;
      }
    }
    .scarlatti {
      &:after {
        background-color: #1e3264;
        width: 8.6rem;
        left: 32.5rem;
        margin-top: -59.5rem;
      }
    }
    .couperin {
      &:after {
        background-color: #1e3264;
        width: 8.8rem;
        left: 33.5rem;
        margin-top: -59.5rem;
      }
    }
    .albinoni {
      &:after {
        background-color: #1e3264;
        width: 10.25rem;
        left: 34.1rem;
        margin-top: -59.5rem;
      }
    }
    .vivaldi {
      &:after {
        background-color: #1e3264;
        width: 8rem;
        left: 35.3rem;
        margin-top: -59.5rem;
      }
    }
    .telemann {
      &:after {
        background-color: #1e3264;
        width: 10.7rem;
        left: 36rem;
        margin-top: -59.5rem;
      }
    }
    .rameau {
      &:after {
        background-color: #1e3264;
        width: 9.5rem;
        left: 36.4rem;
        margin-top: -59.5rem;
      }
    }
    .jsbach {
      &:after {
        background-color: #1e3264;
        width: 8.3rem;
        left: 36.7rem;
        margin-top: -59.5rem;
      }
    }
    .dscarlatti {
      &:after {
        background-color: #1e3264;
        width: 8.7rem;
        left: 36.7rem;
        margin-top: -59.5rem;
      }
    }
    .handel {
      &:after {
        background-color: #1e3264;
        width: 8.9rem;
        left: 36.7rem;
        margin-top: -59.5rem;
      }
    }
    .hasse {
      &:after {
        background-color: #1e3264;
        width: 10.1rem;
        left: 37.8rem;
        margin-top: -59.5rem;
      }
    }
    .pergolesi {
      &:after {
        background-color: #1e3264;
        width: 4rem;
        left: 39.4rem;
        margin-top: -59.5rem;
      }
    }
    .gluck {
      &:after {
        background-color: #8d67ab;
        width: 8.6rem;
        left: 39.8rem;
        margin-top: -59.5rem;
      }
    }
    .cpebach {
      &:after {
        background-color: #8d67ab;
        width: 9rem;
        left: 39.8rem;
        margin-top: -59.5rem;
      }
    }
    .stamitz {
      &:after {
        background-color: #8d67ab;
        width: 5.4rem;
        left: 40.3rem;
        margin-top: -59.5rem;
      }
    }
    .soler {
      &:after {
        background-color: #1e3264;
        width: 7.5rem;
        left: 40.3rem;
        margin-top: -59.5rem;
      }
    }
    .haydn {
      &:after {
        background-color: #8d67ab;
        width: 11.5rem;
        left: 40.7rem;
        margin-top: -59.5rem;
      }
    }
    .jcbach {
      &:after {
        background-color: #8d67ab;
        width: 6.2rem;
        left: 41.5rem;
        margin-top: -59.5rem;
      }
    }
    .salieri {
      &:after {
        background-color: #8d67ab;
        width: 9.2rem;
        left: 44rem;
        margin-top: -59.5rem;
      }
    }
    .bortniansky {
      &:after {
        background-color: #8d67ab;
        width: 9rem;
        left: 44.25rem;
        margin-top: -59.5rem;
      }
    }
    .clementi {
      &:after {
        background-color: #8d67ab;
        width: 9.8rem;
        left: 44.5rem;
        margin-top: -59.5rem;
      }
    }
    .mozart {
      &:after {
        background-color: #8d67ab;
        width: 4.4rem;
        left: 45rem;
        margin-top: -59.5rem;
      }
    }
    .cherubini {
      &:after {
        background-color: #8d67ab;
        width: 9.8rem;
        left: 45.8rem;
        margin-top: -59.5rem;
      }
    }
    .beethoven {
      &:after {
        background-color: #8d67ab;
        width: 7rem;
        left: 47rem;
        margin-top: -59.5rem;
      }
    }
    .field {
      &:after {
        background-color: #1072ec;
        width: 6.5rem;
        left: 48.5rem;
        margin-top: -59.5rem;
      }
    }
    .paganini {
      &:after {
        background-color: #1072ec;
        width: 7.2rem;
        left: 48.5rem;
        margin-top: -59.5rem;
      }
    }
    .weber {
      &:after {
        background-color: #1072ec;
        width: 5rem;
        left: 49.3rem;
        margin-top: -59.5rem;
      }
    }
    .czemy {
      &:after {
        background-color: #1072ec;
        width: 8rem;
        left: 49.7rem;
        margin-top: -59.5rem;
      }
    }
    .rossini {
      &:after {
        background-color: #1072ec;
        width: 9.7rem;
        left: 49.7rem;
        margin-top: -59.5rem;
      }
    }
    .schubert {
      &:after {
        background-color: #1072ec;
        width: 4rem;
        left: 50rem;
        margin-top: -59.5rem;
      }
    }
    .donizetti {
      &:after {
        background-color: #1072ec;
        width: 6.3rem;
        left: 50rem;
        margin-top: -59.5rem;
      }
    }
    .berlioz {
      &:after {
        background-color: #1072ec;
        width: 8.8rem;
        left: 50.6rem;
        margin-top: -59.5rem;
      }
    }
    .mendelssohn {
      &:after {
        background-color: #1072ec;
        width: 4.9rem;
        left: 51.2rem;
        margin-top: -59.5rem;
      }
    }
    .chopin {
      &:after {
        background-color: #1072ec;
        width: 5.05rem;
        left: 51.4rem;
        margin-top: -59.5rem;
      }
    }
    .schumann {
      &:after {
        background-color: #1072ec;
        width: 6.2rem;
        left: 51.4rem;
        margin-top: -59.5rem;
      }
    }
    .liszt {
      &:after {
        background-color: #1072ec;
        width: 9.5rem;
        left: 51.8rem;
        margin-top: -59.5rem;
      }
    }
    .wagner {
      &:after {
        background-color: #1072ec;
        width: 8.5rem;
        left: 52.2rem;
        margin-top: -59.5rem;
      }
    }
    .verdi {
      &:after {
        background-color: #1072ec;
        width: 10.6rem;
        left: 52.2rem;
        margin-top: -59.5rem;
      }
    }
    .offenbach {
      &:after {
        background-color: #1072ec;
        width: 7rem;
        left: 53.2rem;
        margin-top: -59.5rem;
      }
    }
    .franck {
      &:after {
        background-color: #1072ec;
        width: 8rem;
        left: 53rem;
        margin-top: -118.85rem;
      }
    }
    .smetana {
      &:after {
        background-color: #1072ec;
        width: 6.4rem;
        left: 53.8rem;
        margin-top: -118.85rem;
      }
    }
    .bruckner {
      &:after {
        background-color: #1072ec;
        width: 8.5rem;
        left: 53.8rem;
        margin-top: -118.85rem;
      }
    }
    .strauss2 {
      &:after {
        background-color: #1072ec;
        width: 8.5rem;
        left: 54.2rem;
        margin-top: -118.85rem;
      }
    }
    .brahms {
      &:after {
        background-color: #1072ec;
        width: 7.5rem;
        left: 55rem;
        margin-top: -118.85rem;
      }
    }
    .borodin {
      &:after {
        background-color: #1072ec;
        width: 6.2rem;
        left: 55rem;
        margin-top: -118.85rem;
      }
    }
    .saintsaens {
      &:after {
        background-color: #1072ec;
        width: 12rem;
        left: 55.4rem;
        margin-top: -118.85rem;
      }
    }
    .bizet {
      &:after {
        background-color: #1072ec;
        width: 5rem;
        left: 55.8rem;
        margin-top: -118.85rem;
      }
    }
    .mussorgsky {
      &:after {
        background-color: #1072ec;
        width: 5.4rem;
        left: 55.8rem;
        margin-top: -118.85rem;
      }
    }
    .tchaikovsky {
      &:after {
        background-color: #1072ec;
        width: 5.8rem;
        left: 56rem;
        margin-top: -118.85rem;
      }
    }
    .dvorak {
      &:after {
        background-color: #1072ec;
        width: 7.2rem;
        left: 56.2rem;
        margin-top: -118.85rem;
      }
    }
    .grieg {
      &:after {
        background-color: #1072ec;
        width: 7.5rem;
        left: 56.2rem;
        margin-top: -118.85rem;
      }
    }
    .rimsky {
      &:after {
        background-color: #1072ec;
        width: 7.5rem;
        left: 56.3rem;
        margin-top: -118.85rem;
      }
    }
    .faure {
      &:after {
        background-color: #1072ec;
        width: 9.4rem;
        left: 56.4rem;
        margin-top: -118.85rem;
      }
    }
    .elgar {
      &:after {
        background-color: #1072ec;
        width: 11rem;
        left: 57.5rem;
        margin-top: -118.85rem;
      }
    }
    .ysaye {
      &:after {
        background-color: #1072ec;
        width: 10rem;
        left: 57.5rem;
        margin-top: -118.85rem;
      }
    }
    .puccini {
      &:after {
        background-color: #1072ec;
        width: 9rem;
        left: 57.5rem;
        margin-top: -118.85rem;
      }
    }
    .mahler {
      &:after {
        background-color: #1072ec;
        width: 7.5rem;
        left: 57.7rem;
        margin-top: -118.85rem;
      }
    }
    .delius {
      &:after {
        background-color: #1072ec;
        width: 10rem;
        left: 58rem;
        margin-top: -118.85rem;
      }
    }
    .debussy {
      &:after {
        background-color: #a56752;
        width: 8rem;
        left: 58rem;
        margin-top: -118.85rem;
      }
    }
    .strauss {
      &:after {
        background-color: #1072ec;
        width: 9.6rem;
        left: 58.4rem;
        margin-top: -118.85rem;
      }
    }
    .sibelius {
      &:after {
        background-color: #a56752;
        width: 9.6rem;
        left: 58.7rem;
        margin-top: -118.85rem;
      }
    }
    .granados {
      &:after {
        background-color: #1072ec;
        width: 7rem;
        left: 59rem;
        margin-top: -118.85rem;
      }
    }
    .vwilliams {
      &:after {
        background-color: #1072ec;
        width: 10.8rem;
        left: 59.8rem;
        margin-top: -118.85rem;
      }
    }
    .rachmaninoff {
      &:after {
        background-color: #1072ec;
        width: 8.2rem;
        left: 60rem;
        margin-top: -118.85rem;
      }
    }
    .schoenberg {
      &:after {
        background-color: #a56752;
        width: 9.3rem;
        left: 60.3rem;
        margin-top: -118.85rem;
      }
    }
    .holst {
      &:after {
        background-color: #a56752;
        width: 7rem;
        left: 60.3rem;
        margin-top: -118.85rem;
      }
    }
    .ives {
      &:after {
        background-color: #a56752;
        width: 9.8rem;
        left: 60.3rem;
        margin-top: -118.85rem;
      }
    }
    .ravel {
      &:after {
        background-color: #a56752;
        width: 7.1rem;
        left: 60.55rem;
        margin-top: -118.85rem;
      }
    }
    .falla {
      &:after {
        background-color: #a56752;
        width: 7.8rem;
        left: 60.8rem;
        margin-top: -118.85rem;
      }
    }
    .bartok {
      &:after {
        background-color: #a56752;
        width: 7.25rem;
        left: 61.3rem;
        margin-top: -118.85rem;
      }
    }
    .stravinsky {
      &:after {
        background-color: #a56752;
        width: 10.3rem;
        left: 61.5rem;
        margin-top: -118.85rem;
      }
    }
    .varese {
      &:after {
        background-color: #e86718;
        width: 9.5rem;
        left: 61.5rem;
        margin-top: -118.85rem;
      }
    }
    .prokofiev {
      &:after {
        background-color: #a56752;
        width: 8rem;
        left: 62.2rem;
        margin-top: -118.85rem;
      }
    }
    .hindemith {
      &:after {
        background-color: #a56752;
        width: 8.2rem;
        left: 62.4rem;
        margin-top: -118.85rem;
      }
    }
    .poulenc {
      &:after {
        background-color: #a56752;
        width: 7.8rem;
        left: 62.8rem;
        margin-top: -118.85rem;
      }
    }
    .copland {
      &:after {
        background-color: #a56752;
        width: 11rem;
        left: 62.8rem;
        margin-top: -118.85rem;
      }
    }
    .partch {
      &:after {
        background-color: #e86718;
        width: 9.4rem;
        left: 62.85rem;
        margin-top: -118.85rem;
      }
    }
    .shostakovich {
      &:after {
        background-color: #a56752;
        width: 8.5rem;
        left: 64rem;
        margin-top: -178.28rem;
      }
    }
    .messiaen {
      &:after {
        background-color: #a56752;
        width: 10rem;
        left: 64.4rem;
        margin-top: -178.28rem;
      }
    }
    .barber {
      &:after {
        background-color: #a56752;
        width: 8.5rem;
        left: 65rem;
        margin-top: -178.28rem;
      }
    }
    .cage {
      &:after {
        background-color: #e86718;
        width: 9rem;
        left: 65.5rem;
        margin-top: -178.28rem;
      }
    }
    .lutoslawski {
      &:after {
        background-color: #a56752;
        width: 9rem;
        left: 66rem;
        margin-top: -178.28rem;
      }
    }
    .britten {
      &:after {
        background-color: #a56752;
        width: 7rem;
        left: 66rem;
        margin-top: -178.28rem;
      }
    }
    .britten {
      &:after {
        background-color: #a56752;
        width: 7rem;
        left: 66rem;
        margin-top: -178.28rem;
      }
    }
    .moondog {
      &:after {
        background-color: #e86718;
        width: 9.1rem;
        left: 66.4rem;
        margin-top: -178.28rem;
      }
    }
    .xenakis {
      &:after {
        background-color: #e86718;
        width: 8.8rem;
        left: 67rem;
        margin-top: -178.28rem;
      }
    }
    .ligeti {
      &:after {
        background-color: #e86718;
        width: 9.2rem;
        left: 67.2rem;
        margin-top: -178.28rem;
      }
    }
    .boulez {
      &:after {
        background-color: #e86718;
        width: 10rem;
        left: 67.6rem;
        margin-top: -178.28rem;
      }
    }
    .stockhausen {
      &:after {
        background-color: #e86718;
        width: 8.6rem;
        left: 68rem;
        margin-top: -178.28rem;
      }
    }
    .rautavaara {
      &:after {
        background-color: #a56752;
        width: 9.5rem;
        left: 68rem;
        margin-top: -178.28rem;
      }
    }
    .crumb {
      &:after {
        background-color: #e86718;
        width: 9.8rem;
        left: 68.3rem;
        margin-top: -178.28rem;
      }
    }
    .gubaidulina {
      &:after {
        background-color: #e86718;
        width: 9.7rem;
        left: 68.4rem;
        margin-top: -178.28rem;
      }
    }
    .shchedrin {
      &:after {
        background-color: #a56752;
        width: 9.7rem;
        left: 68.4rem;
        margin-top: -178.28rem;
      }
    }
    .schnittke {
      &:after {
        background-color: #e86718;
        width: 7rem;
        left: 68.4rem;
        margin-top: -178.28rem;
      }
    }
    .birtwistle {
      &:after {
        background-color: #a56752;
        width: 9.7rem;
        left: 68.4rem;
        margin-top: -178.28rem;
      }
    }
    .riley {
      &:after {
        background-color: #e13400;
        width: 9.6rem;
        left: 68.5rem;
        margin-top: -178.28rem;
      }
    }
    .young {
      &:after {
        background-color: #e13400;
        width: 9.6rem;
        left: 68.5rem;
        margin-top: -178.28rem;
      }
    }
    .part {
      &:after {
        background-color: #e13400;
        width: 9.6rem;
        left: 68.5rem;
        margin-top: -178.28rem;
      }
    }
    .reich {
      &:after {
        background-color: #e13400;
        width: 9.48rem;
        left: 68.7rem;
        margin-top: -178.28rem;
      }
    }
    .glass {
      &:after {
        background-color: #e13400;
        width: 9.48rem;
        left: 68.7rem;
        margin-top: -178.28rem;
      }
    }
    .adams {
      &:after {
        background-color: #e13400;
        width: 9.2rem;
        left: 69rem;
        margin-top: -178.28rem;
      }
    }

.dufayP {
  position: relative;
  color: white;
  bottom: 214.8rem;
  left: 5.5rem;
  font-weight: 600;
  font-size: .9rem;
}
.binchoisP {
  position: relative;
  color: white;
  bottom: 215.2rem;
  left: 5.6rem;
  font-weight: 600;
  font-size: .9rem;
}
.ockeghemP {
  position: relative;
  color: white;
  bottom: 215.7rem;
  left: 7.4rem;
  font-weight: 600;
  font-size: .9rem;
}
.busnoisP {
  position: relative;
  color: white;
  bottom: 216.05rem;
  left: 9.4rem;
  font-weight: 600;
  font-size: .9rem;
}
.tinctorisP {
  position: relative;
  color: white;
  bottom: 216.4rem;
  left: 10.2rem;
  font-weight: 600;
  font-size: .9rem;
}
.agricolaP {
  position: relative;
  color: white;
  bottom: 216.85rem;
  left: 11rem;
  font-weight: 600;
  font-size: .9rem;
}
.prezP {
  position: relative;
  color: white;
  bottom: 217.2rem;
  left: 11.6rem;
  font-weight: 600;
  font-size: .9rem;
}
.isaacP {
  position: relative;
  color: white;
  bottom: 217.65rem;
  left: 11.7rem;
  font-weight: 600;
  font-size: .9rem;
}
.rueP {
  position: relative;
  color: white;
  bottom: 218rem;
  left: 12rem;
  font-weight: 600;
  font-size: .9rem;
}
.obrechtP {
  position: relative;
  color: white;
  bottom: 218.4rem;
  left: 12.9rem;
  font-weight: 600;
  font-size: .9rem;
}
.janequinP {
  position: relative;
  color: white;
  bottom: 218.9rem;
  left: 15.5rem;
  font-weight: 600;
  font-size: .9rem;
}
.tavernerP {
  position: relative;
  color: white;
  bottom: 219.2rem;
  left: 17rem;
  font-weight: 600;
  font-size: .9rem;
}
.willaertP {
  position: relative;
  color: white;
  bottom: 219.6rem;
  left: 17rem;
  font-weight: 600;
  font-size: .9rem;
}
.gombertP {
  position: relative;
  color: white;
  bottom: 220.1rem;
  left: 17.3rem;
  font-weight: 600;
  font-size: .9rem;
}
.moralesP {
  position: relative;
  color: white;
  bottom: 220.4rem;
  left: 18.2rem;
  font-weight: 600;
  font-size: .9rem;
}
.milanP {
  position: relative;
  color: white;
  bottom: 220.8rem;
  left: 18.2rem;
  font-weight: 600;
  font-size: .9rem;
}
.tallisP {
  position: relative;
  color: white;
  bottom: 221.2rem;
  left: 18.8rem;
  font-weight: 600;
  font-size: .9rem;
}
.arcadeltP {
  position: relative;
  color: white;
  bottom: 221.6rem;
  left: 19rem;
  font-weight: 600;
  font-size: .9rem;
}
.palestrinaP {
  position: relative;
  color: white;
  bottom: 222rem;
  left: 21.4rem;
  font-weight: 600;
  font-size: .9rem;
}
.lassusP {
  position: relative;
  color: white;
  bottom: 222.4rem;
  left: 22.2rem;
  font-weight: 600;
  font-size: .9rem;
}
.byrdP {
  position: relative;
  color: white;
  bottom: 222.8rem;
  left: 23.2rem;
  font-weight: 600;
  font-size: .9rem;
}
.victoriaP {
  position: relative;
  color: white;
  bottom: 223.2rem;
  left: 24.1rem;
  font-weight: 600;
  font-size: .9rem;
}
.cacciniP {
  position: relative;
  color: white;
  bottom: 223.65rem;
  left: 24.2rem;
  font-weight: 600;
  font-size: .9rem;
}
.gabrieliP {
  position: relative;
  color: white;
  bottom: 224rem;
  left: 24.9rem;
  font-weight: 600;
  font-size: .9rem;
}
.sweelinckP {
  position: relative;
  color: white;
  bottom: 224.4rem;
  left: 26rem;
  font-weight: 600;
  font-size: .9rem;
}
.dowlandP {
  position: relative;
  color: white;
  bottom: 224.8rem;
  left: 26.3rem;
  font-weight: 600;
  font-size: .9rem;
}
.gesualdoP {
  position: relative;
  color: white;
  bottom: 225.2rem;
  left: 26.7rem;
  font-weight: 600;
  font-size: .9rem;
}
.monteverdiP {
  position: relative;
  color: white;
  bottom: 225.6rem;
  left: 27rem;
  font-weight: 600;
  font-size: .9rem;
}
.praetoriusP {
  position: relative;
  color: white;
  bottom: 226rem;
  left: 27.8rem;
  font-weight: 600;
  font-size: .9rem;
}
.schutzP {
  position: relative;
  color: white;
  bottom: 226.5rem;
  left: 29rem;
  font-weight: 600;
  font-size: .9rem;
}
.cavalliP {
  position: relative;
  color: white;
  bottom: 226.8rem;
  left: 30.7rem;
  font-weight: 600;
  font-size: .9rem;
}
.frobergerP {
  position: relative;
  color: white;
  bottom: 227.2rem;
  left: 33rem;
  font-weight: 600;
  font-size: .9rem;
}
.lullyP {
  position: relative;
  color: white;
  bottom: 227.6rem;
  left: 34.45rem;
  font-weight: 600;
  font-size: .9rem;
}
.buxtehudeP {
  position: relative;
  color: white;
  bottom: 228rem;
  left: 35.2rem;
  font-weight: 600;
  font-size: .9rem;
}
.charpentierP {
  position: relative;
  color: white;
  bottom: 228.4rem;
  left: 36rem;
  font-weight: 600;
  font-size: .9rem;
}
.corelliP {
  position: relative;
  color: white;
  bottom: 228.8rem;
  left: 37.4rem;
  font-weight: 600;
  font-size: .9rem;
}
.pachelbelP {
  position: relative;
  color: white;
  bottom: 229.2rem;
  left: 37.4rem;
  font-weight: 600;
  font-size: .9rem;
}
.purcellP {
  position: relative;
  color: white;
  bottom: 229.6rem;
  left: 38.1rem;
  font-weight: 600;
  font-size: .9rem;
}
.scarlattiP {
  position: relative;
  color: red;
  bottom: 289.5rem;
  left: 37.8rem;
  font-weight: 600;
  font-size: .9rem;
}
.couperinP {
  position: relative;
  color: white;
  bottom: 289.95rem;
  left: 38.9rem;
  font-weight: 600;
  font-size: .9rem;
}
.albinoniP {
  position: relative;
  color: white;
  bottom: 290.25rem;
  left: 39.4rem;
  font-weight: 600;
  font-size: .9rem;
}
.vivaldiP {
  position: relative;
  color: white;
  bottom: 290.7rem;
  left: 40.7rem;
  font-weight: 600;
  font-size: .9rem;
}
.telemannP {
  position: relative;
  color: white;
  bottom: 291.1rem;
  left: 41.4rem;
  font-weight: 600;
  font-size: .9rem;
}
.rameauP {
  position: relative;
  color: white;
  bottom: 291.5rem;
  left: 41.8rem;
  font-weight: 600;
  font-size: .9rem;
}
.jsbachP {
  position: relative;
  color: white;
  bottom: 291.9rem;
  left: 42rem;
  font-weight: 600;
  font-size: .9rem;
}
.dscarlattiP {
  position: relative;
  color: white;
  bottom: 294.4rem;
  left: 42rem;
  font-weight: 600;
  font-size: .9rem;
}