body {
  background-color: #efefef;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
  position: absolute;
}
.track {
  white-space: hidden;
  height: 9rem;
  width: 35rem;
  overflow: hidden;
  text-overflow: clip;
  border: none;
}
.track:hover {
  background-color: #e0e0e0;
}
.track .icon {
  position: relative;
  left: 19rem;
  top: 1rem;
  visibility: hidden;
}

.track:hover .icon {
  visibility: visible;
}
.albumTrack {
  white-space: hidden;
  height: 9rem;
  width: 35rem;
  overflow: hidden;
  text-overflow: clip;
  border: none;
}
.albumTrack:hover {
  background-color: #e0e0e0;
}
.albumTrack .icon2 {
  position: relative;
  left: 18.5rem;
  top: 1rem;
  visibility: hidden;
}
.albumTrack:hover .icon2 {
  visibility: visible;
}
.dot1 {
height: 25px;
width: 25px;
background-color: green;
border-radius: 50%;
display: inline-block;
position: absolute;
top: 10rem;
left: 36rem;
animation: dotopacity 3s normal forwards;
animation-delay: none;
animation-iteration-count: infinite;
}
.dot2 {
  height: 25px;
  width: 25px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 10rem;
  left: 38rem;
  animation: dotopacity 3s normal forwards;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}
.dot3 {
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 10rem;
  left: 40rem;
  animation: dotopacity 3s normal forwards;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}
@keyframes dotopacity {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
.subheading {
  font-family: 'Baskerville, sans serif';
  font-size: 40px;
  position: absolute;
  top: 17rem;
  right: 24rem;
  animation: fadein 5s;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}