body {
  background-color: #1a1a1a;
  /* background-color: lightgray; */
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  position: absolute;
}
.track {
  white-space: hidden;
  height: 4rem;
  width: 40rem;
  overflow: hidden;
  text-overflow: clip;
  border: none;
  background-color: #121212;
}
.track:hover {
  background-color: #1f1f1f;
}
.track .icon {
  position: relative;
  left: 19rem;
  top: 1rem;
  visibility: hidden;
}

.track:hover .icon {
  visibility: visible;
}
.albumTrack {
  white-space: hidden;
  height: 4rem;
  width: 40rem;
  overflow: hidden;
  text-overflow: clip;
  border: none;
}
.albumTrack:hover {
  background-color: #e0e0e0;
}
.albumTrack .icon2 {
  position: relative;
  left: 18.5rem;
  top: 1rem;
  visibility: hidden;
}
.albumTrack:hover .icon2 {
  visibility: visible;
}
#textsearch:focus {
  outline: none;
}
.eraText {
  color: #fff;
  position: relative;
  top: -.5rem;
  left: 1rem;
  font-size: 1rem;
}
