body {
  background-color: #f2f2f2;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
  position: absolute;
}
.track {
  white-space: hidden;
  height: 9rem;
  width: 35rem;
  overflow: hidden;
  text-overflow: clip;
  border: none;
}
.track:hover {
  background-color: #e0e0e0;
}
.track .icon {
  position: relative;
  left: 19rem;
  top: 1rem;
  visibility: hidden;
}

.track:hover .icon {
  visibility: visible;
}